<footer class="footer" style="background-color:#4CAF50; color:white; text-align:center; padding:14px 0; font-size:14px;">
  © <%= new Date().getFullYear() %> Jharkhand Tourism Development Corporation | JK Tourism
  <br>
  <span style="font-size:13px; opacity:0.9;">
    Developed & Maintained by Department of Information Technology, Government of Jharkhand
  </span>
</footer>


<!-- <footer class="footer">
<div>© <%= new Date().getFullYear() %> Jharkhand Tourism • Tourism Helpline: 1364</div>
</footer> -->